In [47]:
import wordle
import pandas as pd

df = pd.read_csv('wordle_list.csv')
df_freq = pd.read_csv('unigram_freq.csv')
size = int(len(df))
word_data = []
for i in range(size):
    w = df['words'][i]
    if w in df_freq.values:
        d = {'words' : w, 'freq' : df_freq.at[i, 'count']}
        word_data.append(d)

w_df = pd.DataFrame(word_data)
w_df

      words         freq
0     aback  23135851162
1     abase  13151942776
2     abate  12997637966
3     abbey  12136980858
4     abbot   9081174698
...     ...          ...
2309  young     34803404
2310  youth     34799901
2311  zebra     34764071
2312  zesty     34753530
2313  zonal     34742050

[2314 rows x 2 columns]

In [50]:
w_df.to_csv('window.csv')

In [59]:
window = pd.read_csv('window.csv')
g = window[window.freq == max(window.freq)]['words'][0]
g

'aback'